.app-root {
  display: flex;
  flex-flow: column;
  height: 100%;
  justify-content: space-between;
}
.app-root-middle-row {
  display: flex;
  flex-flow: row wrap;
  flex: 1 1 100%;
}
.app-header {
  background-color: #222;
  color: white;
  flex: 1 1 100%;
  max-height: 32px;
  min-height: 32px;
  border-style: solid;
  border-color: #444;
  border-width: 0px;
  border-bottom-width: 1px;
}
.video-panel-root {
  background-color: #a11;
  height: 100%;
  flex: 4 1 0px;
}
.cutlist-panel-root {
  background-color: #333;
  height: 100%;
  flex: 1 1 auto;
  display: flex;
  flex-flow: column;
  overflow-y: scroll;
  overflow-x: hidden;
  /* TODO: scrollbar */
}
.cutlist-toolbar {
  flex-flow: row;
  display: flex;
  flex: 1 0 auto;
}
.cutlist-item {
  background-color: #222;
  text-align: center;
  color: #eee;
  border-color: #333;
  border-style: solid;
  border-width: 0px;
  border-bottom-width: 1px;
  padding: 2px;
  flex: 1 0 auto;
}
.cutlist-item:hover {
  background-color: #555;
  cursor: pointer;
}
.cut-panel-root {
  background-color: #abf;
  flex: 1 1 auto;
  min-height: 100px;
}
.video-player {
 height: 100%;
 width: 100%;
}
